body{
  min-width: 400px;
  height: 100vh;
  position: relative;
  background: cornsilk;
}
.card{
  position: absolute;
  translate: -50% -50%;
  left: 50%; top: 50%;
  width: 180px;
  display: flex;
  height: 250px;
  transition: 0.5s;
}
.card:hover{
  width: 360px;
}
.left{
  left:0;
  position: absolute;
  width: 180px;
  height: 250px;
  background: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid aliceblue;
}
.right{
  right: 0px;
  position: absolute;
  width: 180px;
  height: 250px;
  background: #55d1d6;
  z-index: 1;
  box-sizing: border-box;
  padding: 60px 5px 10px 17px;
}
img{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
h2{
  font-size: 25px;
  color: darkslategray;
  margin-bottom: 2.5px;
}
p{
  color: darkslategray;
  margin-bottom: 3.5px;
}
h3{
  color: red;
}